.root {
   display: flex;
   padding: 40px 40px 100px 40px;   
   margin: 0 auto;
   text-align: center;
   flex-direction: column;
   
   span {
      font-size: 64px;
   }
}

.description {
   font-size: 22px;
}